%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    #wrapper
      %section#content
        .container
          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/14.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "assets/14.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/19.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/19.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/16.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/16.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/17.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/17.jpg"}/
          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/11.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "/assets/11.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/2.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "/assets/2.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/3.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/3.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/13.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/13.jpg"}/

          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/10.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "assets/10.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/1.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "/assets/1.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/21.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/21.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/15.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/15.jpg"}/
          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/4.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "assets/4.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/20.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/20.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/18.jpg", :title => "Garudzep Achievment"}
                    %img{:src => "/assets/18.jpg"}/
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "/assets/12.jpg", :title => "Garudzep Achievment"}
                    %img{ :src => "/assets/12.jpg"}/
          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"juj9VJDx0zE"}?rel=0"}
                %li.item-thumbs.col-lg-3.design{"data-id" => "id-1", "data-type" => "icon"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"g_TyFMlfz8A"}?rel=0"}
                %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"3h3SeblSeqo"}?rel=0"}
                %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"vLFFoEY25cs"}?rel=0"}
          .row
            %section#projects
              %ul#thumbs.portfolio
                / Item Project and Filter Name
                %li.col-lg-3.design{"data-id" => "id-0", "data-type" => "web"}
                  .item-thumbs
                    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"NBms180XpPw"}?rel=0"}
                %li.item-thumbs.col-lg-3.design{"data-id" => "id-1", "data-type" => "icon"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"SOzJ5m8RmYo"}?rel=0"}
                %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"gVemfovdLFE"}?rel=0"}
                %li.item-thumbs.col-lg-3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/#{"aVZg2gFBFAU"}?rel=0"}        