!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GaganBharari Career Academy
    = favicon_link_tag 'logo.jpg'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:charset => "utf-8"}/
    %title GaganBharari Career Academy
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "http://bootstraptaste.com", :name => "author"}/
    / css
    %link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/jquery.fancybox.css", :rel => "stylesheet"}
    %link{:href => "/assets/flexslider.css", :rel => "stylesheet"}/
    %link{:href => "/assets/style.css", :rel => "stylesheet"}/
    / Theme skin
    %link{:href => "/assets/default.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #wrapper
      / start header
      %header
        .navbar.navbar-default.navbar-static-top
          .container
            %ul.nav.navbar-nav
              %li
                %img{:alt => "", :src => "/assets/logo.jpg", :height => "70", :width => "100"}
              %li
                %h2{:style => "color: red;"} GaganBharari Career Academy
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => ""}
            .navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li
                  = link_to "Home", root_path
                %li
                  = link_to "About Us", information_index_path
                %li
                  = link_to "Gallery", gallery_index_path
                %li
                  = link_to "Testimonials", testimonials_path
                %li
                  = link_to "Contact Us",contacts_path
    = yield
  %footer
    .container
      .row
        .col-lg-5
          .widget
            %address
              %b{:style => "color: navy;"} Branch 1
              %br/
              Khadke Building, Back to Nagar Parishad ( City Council)
              %br/
              Rajgurunagar, Tal - Rajgurunagar, Dist - Pune
              %br/
              %b{:style => "color: navy;"} Branch 2
              %br/
              Near S.T Stand , Above Vaibhav Zerox
              %br/
              Rajgurunagar, Tal - Rajgurunagar, Dist - Pune
            %p
              %i.icon-phone
              9823443025 / 8530933025
              %br/
              %i.icon-envelope-alt
              garudzepacademy5@gmail.com
        .col-lg-3
          .widget
            %h5.widgetheading{:style => "color: navy;"} Pages
            %ul.link-list
              %li.active
                = link_to "Home", root_path
              %li
                = link_to "About Us", information_index_path
              %li
                = link_to "Gallery", gallery_index_path
              %li
                = link_to "Testimonials", testimonials_path
              %li
                = link_to "Contact Us", contacts_path
        .col-lg-4
          .widget
            %h5.widgetheading ©GaganBharari Career Academy 2018
            %p
              %address
              %p
                %strong{:style => "color: navy;"} Social Medial Links
                %ul.social-network
                  %li
                    %a{"data-placement" => "top", :href => "https://www.facebook.com/ashok.vanjare.58", :title => "Facebook", :target => "_blank"}
                      %i.fa.fa-facebook
                  %li
                    %a{"data-placement" => "top", :href => "https://twitter.com/GarudzepA", :title => "Twitter", :target => "_blank"}
                      %i.fa.fa-twitter
                  %li
                    %a{"data-placement" => "top", :href => "https://www.youtube.com/watch?v=F60o702HzSw", :title => "Youtube", :target => "_blank"}
                      %i.fa.fa-youtube    
            %span Site Developed By
            %a{:style => "color: navy;",:href => "https://www.facebook.com/atul.nikhade", :target => "_blank"} Atul Nikhade
            .clear
%a.scrollup{:href => "#"}
  %i.fa.fa-angle-up.active
/
  javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "/assets/jquery.js"}
%script{:src => "/assets/jquery.easing.1.3.js"}
%script{:src => "/assets/bootstrap.min.js"}
%script{:src => "/assets/jquery.fancybox.pack.js"}
%script{:src => "/assets/jquery.fancybox-media.js"}
%script{:src => "/assets/prettify.js"}
%script{:src => "/assets/jquery.quicksand.js"}
%script{:src => "/assets/setting.js"}
%script{:src => "/assets/jquery.flexslider.js"}
%script{:src => "/assets/animate.js"}
%script{:src => "/assets/custom.js"}
